body { 
	background: #000078;
	font-family: Times New Roman;
}
h1{
	margin:0 auto;
	top: 0;
	left: 0;
	right: 0;
	border: 5px;
	margin: 5px;
	background: white;
	padding: auto;
	text-align: center;
	position: fixed;
}